<%- include("./partials/header") %>


<div class="container about">
    <div class="md-col-12">
        <h2 class="title">Thank you for submitting your survey!</h2>
        <hr>
        <h3>Here is the result of your survey:</h3>
        <% var score = survey.c1 + survey.c2 + survey.c3 + survey.c4 + survey.c5; %>
        <% var result; %>
        <% if (score <= 11) {result = "You are good!"} 
        else if (score > 11 && score <= 21) {result = "You might want to keep an eye on this topic. Find people who encourage you to try your best, but don't insist on perfection. Most of us do better when the pressure is off."} 
        else if (score > 21) {result = "This seems to be an area of struggle for you. Click on the resources tab to get support and help."}; %> 
        <h4>Conflict: <%= result %></h4>
        
        <hr>
        
        <% var score = survey.a1 + survey.a2 + survey.a3 + survey.a4 + survey.a5; %>
        <% var result; %>
        <% if (score <= 11) {result = "You are good!"} 
        else if (score > 11 && score <= 21) {result = "You might want to keep an eye on this topic. Find people who encourage you to try your best, but don't insist on perfection. Most of us do better when the pressure is off."} 
        else if (score > 21) {result = "This seems to be an area of struggle for you. Click on the resources tab to get support and help."}; %> 
        <h4>Anger: <%= result %></h4>
        
        <hr> 
        
        <% var score = survey.s1 + survey.s2 + survey.s3 + survey.s4 + survey.s5; %>
        <% var result; %>
        <% if (score <= 11) {result = "You are good!"} 
        else if (score > 11 && score <= 21) {result = "You might want to keep an eye on this topic. Find people who encourage you to try your best, but don't insist on perfection. Most of us do better when the pressure is off."} 
        else if (score > 21) {result = "This seems to be an area of struggle for you. Click on the resources tab to get support and help."}; %> 
        <h4>Self-Esteem: <%= result %></h4>
    </div>
</div>

<%- include("./partials/footer") %>