<%- include("../partials/header") %>

<div class="container survey">
    <h2 class="title">Welcome to take the survey!</h2>
    <hr>
    
    <div class="col-md-12">
        <div><h4>State: <%= school.state %></h4></div>
        <div><h4>City: <%= school.city %></h4></div>
        <div><h4>Name: <%= school.name %></h4></div>
        
        <form action="/schools/<%= school._id %>" method="post">
            <h3>Section 1: tell us about yourself</h3>
            <hr>
            
            <div>
                <label for="survey[grade]">What grade are you in?</label>
                <input list="grades" name="survey[grade]" id="grade">
                <datalist id="grades">
                    <option value="6th"></option>
                    <option value="7th"></option>
                    <option value="8th"></option>
                    <option value="9th"></option>
                    <option value="10th"></option>
                    <option value="11th"></option>
                    <option value="12th"></option>
                    <option value="adult"></option>
                </datalist>
            </div>
            <hr>

            <h3>Section 2: survey on anger</h3>
            <div>
                <p>Do you always have to have the last word in a disagreement?</p>
                <input type="radio" name="survey[c1]" value="1" id="c1-1">
                <label for="c1-1">Never</label>
                <input type="radio" name="survey[c1]" value="2" id="c1-2">
                <label for="c1-2">Almost never</label>
                <input type="radio" name="survey[c1]" value="3" id="c1-3">
                <label for="c1-3">Sometimes</label>
                <input type="radio" name="survey[c1]" value="4" id="c1-4">
                <label for="c1-4">Almost every time</label>
                <input type="radio" name="survey[c1]" value="5" id="c1-5">
                <label for="c1-5">Every time</label>
            </div>
            <div>
                <p>It is hard to see another's point of view?</p>
                <input type="radio" name="survey[c2]" value="1" id="c2-1">
                <label for="c2-1">Never</label>
                <input type="radio" name="survey[c2]" value="2" id="c2-2">
                <label for="c2-2">Almost never</label>
                <input type="radio" name="survey[c2]" value="3" id="c2-3">
                <label for="c2-3">Sometimes</label>
                <input type="radio" name="survey[c2]" value="4" id="c2-4">
                <label for="c2-4">Almost every time</label>
                <input type="radio" name="survey[c2]" value="5" id="c2-5">
                <label for="c2-5">Every time</label>
            </div>
            <div>
                <p>Do you always keep your opinion to yourself?</p>
                <input type="radio" name="survey[c3]" value="1" id="c3-1">
                <label for="c3-1">Never</label>
                <input type="radio" name="survey[c3]" value="2" id="c3-2">
                <label for="c3-2">Almost never</label>
                <input type="radio" name="survey[c3]" value="3" id="c3-3">
                <label for="c3-3">Sometimes</label>
                <input type="radio" name="survey[c3]" value="4" id="c3-4">
                <label for="c3-4">Almost every time</label>
                <input type="radio" name="survey[c3]" value="5" id="c3-5">
                <label for="c3-5">Every time</label>
            </div>
            <div>
                <p>Have you been threatened for sharing your opinion?</p>
                <input type="radio" name="survey[c4]" value="1" id="c4-1">
                <label for="c4-1">Never</label>
                <input type="radio" name="survey[c4]" value="2" id="c4-2">
                <label for="c4-2">Almost never</label>
                <input type="radio" name="survey[c4]" value="3" id="c4-3">
                <label for="c4-3">Sometimes</label>
                <input type="radio" name="survey[c4]" value="4" id="c4-4">
                <label for="c4-4">Almost every time</label>
                <input type="radio" name="survey[c4]" value="5" id="c4-5">
                <label for="c4-5">Every time</label>
            </div>
            <div>
                <p>Are you uncomfortable around conflict?</p>
                <input type="radio" name="survey[c5]" value="1" id="c5-1">
                <label for="c5-1">Never</label>
                <input type="radio" name="survey[c5]" value="2" id="c5-2">
                <label for="c5-2">Almost never</label>
                <input type="radio" name="survey[c5]" value="3" id="c5-3">
                <label for="c5-3">Sometimes</label>
                <input type="radio" name="survey[c5]" value="4" id="c5-4">
                <label for="c5-4">Almost every time</label>
                <input type="radio" name="survey[c5]" value="5" id="c5-5">
                <label for="c5-5">Every time</label>
            </div>

            <hr>

            <h3>Section 3: survey on anger</h3>
            <div>
                <p>When you get angry do you think of hurting yourself?</p>
                <input type="radio" name="survey[a1]" value="1" id="a1-1">
                <label for="a1-1">Never</label>
                <input type="radio" name="survey[a1]" value="2" id="a1-2">
                <label for="a1-2">Almost never</label>
                <input type="radio" name="survey[a1]" value="3" id="a1-3">
                <label for="a1-3">Sometimes</label>
                <input type="radio" name="survey[a1]" value="4" id="a1-4">
                <label for="a1-4">Almost every time</label>
                <input type="radio" name="survey[a1]" value="5" id="a1-5">
                <label for="a1-5">Every time</label>
            </div>
            <div>
                <p>Do you keep your anger bottled up inside?</p>
                <input type="radio" name="survey[a2]" value="1" id="a2-1">
                <label for="a2-1">Never</label>
                <input type="radio" name="survey[a2]" value="2" id="a2-2">
                <label for="a2-2">Almost never</label>
                <input type="radio" name="survey[a2]" value="3" id="a2-3">
                <label for="a2-3">Sometimes</label>
                <input type="radio" name="survey[a2]" value="4" id="a2-4">
                <label for="a2-4">Almost every time</label>
                <input type="radio" name="survey[a2]" value="5" id="a2-5">
                <label for="a2-5">Every time</label>
            </div>
            <div>
                <p>Do you have to scream or hit something to get your anger out?</p>
                <input type="radio" name="survey[a3]" value="1" id="a3-1">
                <label for="a3-1">Never</label>
                <input type="radio" name="survey[a3]" value="2" id="a3-2">
                <label for="a3-2">Almost never</label>
                <input type="radio" name="survey[a3]" value="3" id="a3-3">
                <label for="a3-3">Sometimes</label>
                <input type="radio" name="survey[a3]" value="4" id="a3-4">
                <label for="a3-4">Almost every time</label>
                <input type="radio" name="survey[a3]" value="5" id="a3-5">
                <label for="a3-5">Every time</label>
            </div>
            <div>
                <p>How often do you get angry?</p>
                <input type="radio" name="survey[a4]" value="1" id="a4-1">
                <label for="a4-1">Never</label>
                <input type="radio" name="survey[a4]" value="2" id="a4-2">
                <label for="a4-2">Almost never</label>
                <input type="radio" name="survey[a4]" value="3" id="a4-3">
                <label for="a4-3">Sometimes</label>
                <input type="radio" name="survey[a4]" value="4" id="a4-4">
                <label for="a4-4">Almost every time</label>
                <input type="radio" name="survey[a4]" value="5" id="a4-5">
                <label for="a4-5">Every time</label>
            </div>
            <div>
                <p>Does anyone around you take their anger out on you or the people you love?</p>
                <input type="radio" name="survey[a5]" value="1" id="a5-1">
                <label for="a5-1">Never</label>
                <input type="radio" name="survey[a5]" value="2" id="a5-2">
                <label for="a5-2">Almost never</label>
                <input type="radio" name="survey[a5]" value="3" id="a5-3">
                <label for="a5-3">Sometimes</label>
                <input type="radio" name="survey[a5]" value="4" id="a5-4">
                <label for="a5-4">Almost every time</label>
                <input type="radio" name="survey[a5]" value="5" id="a5-5">
                <label for="a5-5">Every time</label>
            </div>
        

            <hr>

            <h3>Section 4: survey on self-esteem</h3>
                        <div>
                <p>Do you like what you see when you look in the mirror?</p>
                <input type="radio" name="survey[s1]" value="1" id="s1-1">
                <label for="s1-1">Never</label>
                <input type="radio" name="survey[s1]" value="2" id="s1-2">
                <label for="s1-2">Almost never</label>
                <input type="radio" name="survey[s1]" value="3" id="s1-3">
                <label for="s1-3">Sometimes</label>
                <input type="radio" name="survey[s1]" value="4" id="s1-4">
                <label for="s1-4">Almost every time</label>
                <input type="radio" name="survey[s1]" value="5" id="s1-5">
                <label for="s1-5">Every time</label>
            </div>
            <div>
                <p>Do you remain friends with people that call you names or treat you badly?</p>
                <input type="radio" name="survey[s2]" value="1" id="s2-1">
                <label for="s2-1">Never</label>
                <input type="radio" name="survey[s2]" value="2" id="s2-2">
                <label for="s2-2">Almost never</label>
                <input type="radio" name="survey[s2]" value="3" id="s2-3">
                <label for="s2-3">Sometimes</label>
                <input type="radio" name="survey[s2]" value="4" id="s2-4">
                <label for="s2-4">Almost every time</label>
                <input type="radio" name="survey[s2]" value="5" id="s2-5">
                <label for="s2-5">Every time</label>
            </div>
            <div>
                <p>Do you compare yourself to friends and people around you?</p>
                <input type="radio" name="survey[s3]" value="1" id="s3-1">
                <label for="s3-1">Never</label>
                <input type="radio" name="survey[s3]" value="2" id="s3-2">
                <label for="s3-2">Almost never</label>
                <input type="radio" name="survey[s3]" value="3" id="s3-3">
                <label for="s3-3">Sometimes</label>
                <input type="radio" name="survey[s3]" value="4" id="s3-4">
                <label for="s3-4">Almost every time</label>
                <input type="radio" name="survey[s3]" value="5" id="s3-5">
                <label for="s3-5">Every time</label>
            </div>
            <div>
                <p>Do people you love the most talk negative to you or put you down?</p>
                <input type="radio" name="survey[s4]" value="1" id="s4-1">
                <label for="s4-1">Never</label>
                <input type="radio" name="survey[s4]" value="2" id="s4-2">
                <label for="s4-2">Almost never</label>
                <input type="radio" name="survey[s4]" value="3" id="s4-3">
                <label for="s4-3">Sometimes</label>
                <input type="radio" name="survey[s4]" value="4" id="s4-4">
                <label for="s4-4">Almost every time</label>
                <input type="radio" name="survey[s4]" value="5" id="s4-5">
                <label for="s4-5">Every time</label>
            </div>
            <div>
                <p>Do you always focus on your weaknesses?</p>
                <input type="radio" name="survey[s5]" value="1" id="s5-1">
                <label for="s5-1">Never</label>
                <input type="radio" name="survey[s5]" value="2" id="s5-2">
                <label for="s5-2">Almost never</label>
                <input type="radio" name="survey[s5]" value="3" id="s5-3">
                <label for="s5-3">Sometimes</label>
                <input type="radio" name="survey[s5]" value="4" id="s5-4">
                <label for="s5-4">Almost every time</label>
                <input type="radio" name="survey[s5]" value="5" id="s5-5">
                <label for="s5-5">Every time</label>
            </div>
            
            
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
</div>

<%- include("../partials/footer") %>